html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-family: "Quicksand";
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: #F3EEE2; }

ol,
ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

.test {
  box-sizing: border-box;
  border: 1px solid lime; }

.text-center {
  text-align: center; }

.bold {
  font-weight: bold; }

.py-1 {
  padding: 7px 0; }

.py-2 {
  padding: 16px 0; }

.py-3 {
  padding: 26px 0; }

.pb-1 {
  padding-bottom: 10px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-3 {
  padding-bottom: 30px; }

.mb-1 {
  margin-bottom: 10px; }

.mb-2 {
  margin-bottom: 20px; }

.mb-3 {
  margin-bottom: 30px; }

.bg-default {
  background-color: #F3EEE2; }

.frame {
  box-sizing: border-box;
  border: 3vmax solid;
  height: 100vh;
  margin-bottom: 50vh; }
  .frame:last-of-type {
    margin-bottom: 0; }
  .frame .title-frame {
    display: flex;
    width: 60vw;
    margin: 35px auto 0;
    border: 6px solid #333; }
    .frame .title-frame .title-frame-left {
      border-right: 6px solid #333; }
    .frame .title-frame .title-frame-right h1 {
      transform: rotate(90deg);
      transform-origin: 7% 67% 0;
      float: left;
      padding-left: 10px;
      white-space: nowrap; }

#card1 {
  border-color: #910C32; }
  #card1 .title-frame-left {
    height: 227px;
    width: 70%;
    background: #F3EEE2 url(./assets/tomomi.svg) no-repeat 50% -10px; }
  #card1 .title-frame-right {
    width: 30%;
    background-color: #F3EEE2; }
  #card1 #title-frame-outer {
    border: 6px solid #333;
    margin: 17vh 10vw;
    background-color: rgba(152, 191, 204, 0.69); }
    #card1 #title-frame-outer::before {
      content: "";
      position: absolute;
      height: 60px;
      width: 60px;
      top: 11.5vh;
      left: 40vw;
      background: transparent url(./assets/coder_girl.png) no-repeat;
      background-size: cover;
      animation: girl 1s forwards; }

@keyframes girl {
  0% {
    display: none;
    opacity: 0; }
  50% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

#card2 {
  border-color: #1C486B; }

#card3 {
  border-color: #928C36; }

#card4 {
  border-color: #9E452A; }

#card5 {
  border-color: #55295B; }
