html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
i,
p,
a,
em,
img,
small,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label {
  color: #333;
  text-decoration-skip: ink;
  text-decoration-color: #333;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-style: inherit;
  font-family: "Quicksand", "Segoe UI", sans-serif;
  vertical-align: baseline; }

a {
  transition: all 0.4s; }
  a:hover {
    text-decoration: none;
    color: #c03a2b; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  background: #f3eee2; }

ol,
ul {
  list-style: none; }

.test {
  border: 1px solid lime; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.bold {
  font-weight: bold; }

.py-1 {
  padding: 7px 0; }

.py-2 {
  padding: 16px 0; }

.py-3 {
  padding: 26px 0; }

.pb-1 {
  padding-bottom: 10px; }

.pb-2 {
  padding-bottom: 20px; }

.pb-3 {
  padding-bottom: 30px; }

.mb-1 {
  margin-bottom: 10px; }

.mb-2 {
  margin-bottom: 20px; }

.mb-3 {
  margin-bottom: 30px; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 20px; }

.mt-3 {
  margin-top: 30px; }

.mr-1 {
  margin-right: 10px; }

.mr-2 {
  margin-right: 20px; }

.mr-3 {
  margin-right: 30px; }

.mr-4 {
  margin-right: 40px; }

.bg-default {
  background-color: #f3eee2; }

.inline-header {
  display: inline; }

.clearfix:after {
  clear: both;
  display: block;
  content: ".";
  visibility: hidden; }

.frame {
  box-sizing: border-box;
  border: 5vw solid;
  min-height: 620px;
  margin-bottom: 70vh;
  position: relative; }
  .frame:last-of-type {
    margin-bottom: 0; }
  .frame .title-frame {
    display: flex;
    flex-wrap: wrap;
    margin: 15px auto 15px auto;
    border: 6px solid #333;
    background-color: #f3eee2; }
    .frame .title-frame .title-frame-first {
      border-right: 6px solid #333; }
    .frame .title-frame .title-frame-second h1,
    .frame .title-frame .title-frame-second h2,
    .frame .title-frame .title-frame-second h3 {
      padding-left: 10px; }
      .frame .title-frame .title-frame-second h1.vertical,
      .frame .title-frame .title-frame-second h2.vertical,
      .frame .title-frame .title-frame-second h3.vertical {
        transform: rotate(90deg);
        transform-origin: 7% 67% 0;
        float: left;
        white-space: nowrap; }

#card1 {
  border-color: #910c32; }
  #card1 #title-frame-outer {
    position: relative;
    border: 6px solid #333;
    margin: 100px 7vw 0 7vw;
    background-color: rgba(152, 191, 204, 0.69); }
    #card1 #title-frame-outer #coder_girl_img {
      position: absolute;
      width: 60px;
      top: -54px; }
  #card1 .title-frame {
    width: 60vw; }
  #card1 .title-frame-first {
    height: 227px;
    width: 70%;
    background: #f3eee2 url(./assets/tomomi.svg) no-repeat 50% -10px; }
  #card1 .title-frame-second {
    width: 26%;
    background-color: #f3eee2; }
  #card1 .content {
    visibility: hidden; }

#card2 {
  border-color: #1c486b; }
  #card2 .title-frame {
    margin-top: 30px;
    width: 190px; }
    #card2 .title-frame #tsubaki {
      position: absolute;
      width: 210px;
      top: -102px;
      left: -110px;
      z-index: 1; }
    #card2 .title-frame .title-frame-first {
      position: relative;
      height: 125px;
      width: 155px;
      background: #f3eee2 url(./assets/jiko2.png) no-repeat 50% -5px;
      background-size: 85px; }
    #card2 .title-frame .title-frame-second {
      width: 10px;
      background-color: #f3eee2; }
  #card2 .content {
    margin: 0 2rem; }
    #card2 .content p,
    #card2 .content span,
    #card2 .content a {
      font-family: "Mukta Malar", "Segoe UI", sans-serif;
      text-shadow: 1px 1px 7px rgba(150, 150, 150, 0.47);
      line-height: 1.5em;
      padding: .4em 0; }
    #card2 .content #heart-wrapper {
      position: relative;
      margin-top: 24px; }
      #card2 .content #heart-wrapper #heart {
        animation: pulse 2s infinite;
        position: absolute;
        margin-left: 10px;
        transform: translate(-50%, -50%); }
      #card2 .content #heart-wrapper span {
        float: left;
        transform: translateY(-50%);
        margin-left: 25px; }

#card3 {
  border-color: #928c36;
  overflow: hidden; }
  #card3 #hagi {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: 40vw;
    max-width: 220px; }
  #card3 .title-frame {
    position: relative;
    width: 55vw; }
  #card3 .title-frame-first {
    height: 70px;
    width: 100%;
    border-right: 0;
    border-bottom: 6px solid #333;
    background: #f3eee2 url(./assets/ginou.png) no-repeat -10px;
    background-size: 185px;
    padding: 0; }
  #card3 .content {
    position: relative;
    padding-left: 14vw;
    font-size: 18px;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 0.47);
    line-height: 2rem; }
    #card3 .content a {
      font-size: 40px;
      border-right: 30px solid transparent; }
    #card3 .content svg {
      width: 50px;
      position: absolute;
      transition: width 0.4s; }
      #card3 .content svg g {
        fill: #5e5e5e;
        transition: fill 1s; }
    #card3 .content #word:hover {
      width: 70px; }
      #card3 .content #word:hover g {
        fill: #1d1da8; }
    #card3 .content #pdf:hover {
      width: 70px; }
      #card3 .content #pdf:hover g {
        fill: #c03a2b; }

#card4 {
  border-color: #9e452a; }
  #card4 #fuji {
    position: absolute;
    width: 22%;
    z-index: 1; }
  #card4 #fuji-r {
    position: absolute;
    width: 23%;
    right: 0;
    top: -2px;
    z-index: 1; }
  #card4 .title-frame {
    position: relative;
    margin-top: 30px;
    width: 180px;
    z-index: -1; }
  #card4 .title-frame-first {
    height: 115px;
    width: 80%;
    background: #f3eee2 url(./assets/kikaku.png) no-repeat 50% -7px;
    background-size: 74px; }
  #card4 .title-frame-second {
    width: 10%;
    padding-left: 3px; }
  #card4 .content {
    padding: 0 10vw;
    font-size: 18px;
    line-height: 1.3rem; }
    #card4 .content ul {
      padding: 10px 0 38px; }
      #card4 .content ul li {
        display: inline; }
    #card4 .content #react {
      width: 20px;
      animation: spin 6s linear infinite; }
    #card4 .content #ruby {
      width: 20px;
      vertical-align: -20%; }
    #card4 .content #responsive {
      width: 20px;
      vertical-align: -21%; }

#card5 {
  border-color: #55295b; }
  #card5 .title-frame {
    width: 210px; }
  #card5 .title-frame-first {
    height: 74px;
    width: 100%;
    border-right: 0;
    border-bottom: 6px solid #333;
    background: #f3eee2 url(./assets/toiawase.png) no-repeat 50% -8px;
    background-size: 185px;
    padding: 0; }
  #card5 h4 {
    margin-left: 12px; }
  #card5 .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px;
    height: 70%;
    left: 50%;
    top: 62%;
    transform: translate(-50%, -50%); }
    #card5 .content svg {
      justify-content: flex-start;
      width: 100%;
      transition: all 1s; }
      #card5 .content svg#octocat:hover, #card5 .content svg#email:hover {
        transform: rotateY(180deg); }
    #card5 .content #in {
      transition: transform 2s; }
      #card5 .content #in:hover {
        transform: rotateY(360deg); }
    #card5 .content .tooltip-positioner {
      cursor: pointer;
      position: relative; }
      #card5 .content .tooltip-positioner .tooltiptext {
        font-family: "Mukta Malar", "Segoe UI", sans-serif;
        white-space: nowrap;
        text-align: center;
        width: 140px;
        opacity: 0;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.5s;
        border-radius: 20px; }
      #card5 .content .tooltip-positioner a:hover + .tooltiptext {
        opacity: 0.8; }

footer {
  float: right;
  font-size: 0.8em;
  line-height: 2rem; }

#addy {
  width: 1px;
  opacity: 0; }

@keyframes pulse {
  0% {
    width: 20px; }
  50% {
    width: 20px; }
  85% {
    width: 20px; }
  95% {
    width: 27px; }
  100% {
    width: 20px; } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Tablet and Desktop view */
@media (min-width: 768px) {
  .frame {
    border: 3vw solid;
    display: flex;
    justify-content: space-between;
    min-height: 100vh; }
    .frame .content {
      width: 50%;
      border-left: 1px solid #D9D5CA; }
  #card1 .md-left-pane {
    position: relative;
    width: 50%; }
    #card1 .md-left-pane #title-frame-outer {
      position: absolute;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      width: 240px;
      max-height: 300px;
      transform: translate(-50%, -50%); }
      #card1 .md-left-pane #title-frame-outer .title-frame {
        width: 89%; }
      #card1 .md-left-pane #title-frame-outer .title-frame-first {
        width: 70%; }
  #card1 .content {
    visibility: visible; }
    #card1 .content ul {
      width: 55%;
      margin: 0 auto;
      position: relative;
      transform: translateY(-50%);
      top: 50%; }
      #card1 .content ul li {
        font-size: 2rem; }
  #card2 .title-frame {
    margin: auto;
    height: 210px;
    width: 220px; }
    #card2 .title-frame .title-frame-first {
      height: inherit;
      background-size: 144px;
      background-position-y: -10px;
      width: 80%; }
    #card2 .title-frame .title-frame-second {
      font-size: 24px; }
  #card2 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0; }
    #card2 .content .textarea {
      font-size: 18px;
      margin: 0 6%; }
      #card2 .content .textarea p:first-child {
        margin-top: 15px; }
  #card3 .md-left-pane {
    margin: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #card3 .md-left-pane .title-frame {
      width: 270px;
      height: 150px; }
      #card3 .md-left-pane .title-frame .title-frame-first {
        height: 75%;
        background-size: 250px;
        background-position-x: 7px; }
      #card3 .md-left-pane .title-frame .title-frame-second {
        font-size: 24px; }
  #card3 .content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #card3 .content .md-right-pane {
      margin-left: 8vw; } }
