$bg-default: #F3EEE2;
$black: #333;
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0; // font-weight: inherit;
   font-style: inherit; // font-size: 100%;
   font-family: "Quicksand";
   vertical-align: baseline;
}


/* remember to define focus styles! */

:focus {
   outline: 0;
}

body {
   line-height: 1;
   color: black;
   background: $bg-default;
}

ol,
ul {
   list-style: none;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
   border-collapse: separate;
   border-spacing: 0;
}

caption,
th,
td {
   text-align: left;
   font-weight: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
}

blockquote,
q {
   quotes: "" "";
}

.test {
   box-sizing: border-box;
   border: 1px solid lime;
}

.text-center {
   text-align: center;
}

.bold {
   font-weight: bold;
}

.py-1 {
   padding: 7px 0;
}

.py-2 {
   padding: 16px 0;
}

.py-3 {
   padding: 26px 0;
}

.pb-1 {
   padding-bottom: 10px;
}

.pb-2 {
   padding-bottom: 20px;
}

.pb-3 {
   padding-bottom: 30px;
}

.mb-1 {
   margin-bottom: 10px;
}

.mb-2 {
   margin-bottom: 20px;
}

.mb-3 {
   margin-bottom: 30px;
}

.bg-default {
   background-color: $bg-default;
}

// Global
.frame {
   box-sizing: border-box;
   border: 3vmax solid;
   height: 100vh;
   margin-bottom: 50vh;
   
   &:last-of-type {
      margin-bottom: 0;
   }
   
   .title-frame {
      display: flex;
      width: 60vw;
      margin: 35px auto 0;
      border: 6px solid $black;
      
      .title-frame-left {
         border-right: 6px solid $black;
      }
      
      .title-frame-right {
         h1 {
            transform: rotate(90deg);
            transform-origin: 7% 67% 0;
            float: left;
            padding-left: 10px;
            white-space: nowrap;
            
         }
      }
   }
}

#card1 {
   border-color: #910C32;
   
   #coder_girl_img {
      position: relative;
      width: 60px;
      top: 17px;
      left: 15vw;
      margin: 0 auto;
   }   
   
   #title-frame-outer {
      position: relative;
      border: 6px solid $black;
      margin: 0 10vw;
      background-color: rgba(152, 191, 204, 0.69);
   }

   .title-frame-left {
      height: 227px;
      width: 70%;
      background: $bg-default url(./assets/tomomi.svg) no-repeat 50% -10px
   }
   
   .title-frame-right {
      width: 30%;
      background-color: $bg-default
   }
}

#card2 {
   border-color: #1C486B;
}

#card3 {
   border-color: #928C36;
}

#card4 {
   border-color: #9E452A;
}

#card5 {
   border-color: #55295B;
}